@page "/About/"

<PageTitle>About Lost Merchants</PageTitle>

<p>Tracker for active and upcoming Wandering Merchants in Lost Ark including their location and inventory.</p>

<p>Source code available at <a href="https://github.com/Xeio/WanderLost">https://github.com/Xeio/WanderLost</a></p>

<p>Not affiliated with Amazon Games/Smilegate.</p>