@page "/Discord/"

<PageTitle>Discord Bot Info</PageTitle>

<h2>Terms of Service</h2>

<p>LostMerchants bot is provided as-is and may be updated or changed without notice.</p>

<h2>Privacy Policy</h2>

<p>Lost Merchants stores Discord User IDs and IP addresses associated with notifications and submitted merchant data when logged in to the site.</p>

<p>User data is not shared with third parties.</p>