.merchants__content {
    margin: 0 auto;
    padding: 0 12px;
}

.merchants__content--compact {
    max-width: 1024px;
}

.merchants__content ::deep .merchants__future-grid {
    width: min(600px, 100%);
}

.merchants__content--compact ::deep .merchants__future-grid {
    width: calc(100% + 24px);
}

.merchants__controls {
    display: flex;
}

.merchants__select-container {
    width: 180px;
}

.merchants__select-container + .merchants__select-container {
    margin: 0 24px;
}

.merchants__label {
}

.merchants__select {
    display: block;

    width: 100%;
    margin-top: 4px;

    padding: 0.5em 3.5em 0.5em 1em;

    border: 1px solid #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: white;
    cursor: pointer;

    line-height: 1.5em;

    background: transparent;

    background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #fff, #fff);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.merchants__select option {
    background: var(--brand-black);
}

.merchants__notification {
    margin-left: auto;
}

.merchants__active-merchants {
    display: flex;

    margin-top: 36px !important;

    color: var(--brand-dimwhite);
}

.merchants__timer {
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgb(10 175 230 / 0%);
    margin-left: auto;
}