@page "/WeiStats"
<PageTitle>Wei Stats</PageTitle>

@inject MerchantHubClient HubClient

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="h3 col">Recent Wei Appearances</div>
            </div>
            <table class="table">
                <tbody>
                    @foreach(var recent in _weiStats.RecentWeis)
                    {
                        <tr>
                            <td>@recent.Server</td>
                            <td>@recent.AppearanceTime.ToLocalTime().ToString("MM-dd HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-sm">
            <div class="row">
                <div class="h3 col">Per-Server Counts</div>
            </div>
            <table class="table">
                <tbody>
                    @foreach(var counts in _weiStats.ServerWeiCounts)
                    {
                        <tr>
                            <td>@counts.Server</td>
                            <td>@counts.WeiCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private WanderLost.Shared.Data.WeiStats _weiStats = new();

    protected override async Task OnInitializedAsync()
    {
        await HubClient.Connect();

        _weiStats = await HubClient.GetWeiStats();
    }
}
