@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    /**rarity colors snatched from the game*/
    --gold: #e29521;
    --purple: #a661cb;
    --blue: #2c93bc;
    --green: #9cee32;
    --red: orangered;
    --white: white;

    /**misc colors*/
    --mapbackground: #1a1f23;

    /**playlostark.com colors*/
    --brand-gold: #bfa251;
    --brand-black: #141312;
    --brand-dimwhite: #b5b5b5;
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(/css/ProximaNova-Regular.woff) format("woff")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(/css/ProximaNova-Regular.woff) format("woff")
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(/css/ProximaNova-Bold.woff) format("woff")
}

*:focus-visible {
    outline-offset: 2px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--brand-gold);
}

.brand-label,
.merchant-grid-new th {
    font-family: Proxima Nova, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;

    line-height: 1;

    letter-spacing: 0.1em;

    text-transform: uppercase;
    text-decoration: none;

    color: var(--brand-dimwhite);
}

.brand-label {
    font-size: 0.75rem;
}

.merchant-grid-new th {
    font-size: 0.9rem;

    border-bottom: 2px solid var(--brand-dimwhite);
}

.merchant-grid-new th,
.merchant-grid-new td {
    padding: 8px 12px;
    height: 32px;
    box-sizing: content-box;

    color: var(--brand-dimwhite);
}

.merchant-grid-new .separator {
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;

    background-color: var(--brand-dimwhite);

    opacity: 0.5;
}

.favorite-badge {
    color: var(--gold);
    margin-right: 4px;
}

.noscroll {
    overflow: hidden;
}

.app {
    min-width: 520px;
}

/** Deprecated styles section (remove when all pages are stripped of bootstrap) */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: #990052;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

tr.separator td {
    height: 15px;
    background-color: rgba(255, 255, 255, .05);
}

tr.separator:last-of-type {
    display: none;
}

.rarity--Normal {
    color: var(--white);
}

.rarity--Uncommon {
    color: var(--green);
}

.rarity--Rare {
    color: var(--blue);
}

.rarity--Epic {
    color: var(--purple);
}

.rarity--Legendary {
    color: var(--gold);
}

.rarity--Relic {
    color: var(--orangered);
}
