
tr.separator td {
    height: 15px;
    background-color: rgba(255,255,255,.05);
}

tr.separator:last-of-type {
    display: none;
}

.votes {
    display: inline-block;
    min-width: 3ch; /*3 characters*/
}