<button class="button @ClassName" title="@Title" @onclick:stopPropagation="true" @onclick="OnClick">
  <svg class="icon__svg" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
    <path class="icon__path @IconPathType" />
  </svg>
</button>

@code {
  public enum Variant
  {
    Like,
    Dislike,
    Report
  }

  [Parameter]
  public Variant Type { get; set; }

  [Parameter]
  public bool Active { get; set; }

  [Parameter]
  public Action OnClick { get; set; }

  [Parameter]
  public string ClassName { get; set; }

  [Parameter]
  public string Title { get; set; }

  public string IconPathType
  {
    get
    {
      return Type switch
      {
        Variant.Like => Active ? "icon__path--like-active" : "icon__path--like",
        Variant.Dislike => Active ? "icon__path--dislike-active" : "icon__path--dislike",
        Variant.Report => "icon__path--report",
        _ => throw new Exception("Uknown button type: " + Type.ToString())
      };
    }
  }
}