.m-card__location {
  position: relative;

  margin-top: 6px;
  height: 230px;

  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--mapbackground);
  background-position: center;
}

.m-card__location--active {
  cursor: pointer;
}

.m-card__score {
  color: white;
  line-height: 40px;
  font-size: 18px;
  padding: 0 8px;
}

.m-card__buttons {
  display: flex;
  position: relative;

  margin-top: 12px;
}

  .m-card__buttons ::deep .m-card__like {
    margin-left: auto;
  }

  .m-card__buttons ::deep .m-card__dislike {
    margin-right: auto;
  }

.m-card__buttons ::deep .m-card__report {
  position: absolute;
  right: 0;
  bottom: 2px;
}

.stock {
  margin-top: 12px;
  padding: 0px 8px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1em;
  text-align: left;
  color: white;
}

.stock__item {
  margin-top: 4px;
}

.stock__item_r--uncommon {
  color: var(--green);
}

.stock__item_r--rare {
  color: var(--blue);
}

.stock__item_r--epic {
  color: var(--purple);
}

.stock__item_r--legendary {
  color: var(--gold);
}
