<div class="card-frame rarity--@Rarity @ClassName">
    <svg class="card-frame__border" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 896 1347" preserveAspectRatio="none">
        <path class="card-frame__border-diamond" d="m462.23,52.22c0.01,0.11 0.01,0.21 0.01,0.32c0,8.54 -6.86,16.13 -17.5,20.98c-10.64,-4.85 -17.5,-12.44 -17.5,-20.98c0,-0.11 0,-0.21 0.01,-0.32l-40.71,0c14.96,-1.6 28.3,-9.31 38.01,-19.68c5.6,-5.98 9.99,-13.11 12.77,-21c1.25,-3.53 2.18,-7.2 2.74,-11l9.36,0c0.56,3.8 1.49,7.47 2.74,11c2.78,7.89 7.17,15.02 12.77,21c9.71,10.37 23.05,18.08 38.01,19.68l-40.71,0z"/>
        <path class="card-frame__border-color card-frame__border-color--faded" d="m462.23,52.22c0.01,0.11 0.01,0.21 0.01,0.32c0,8.54 -6.86,16.13 -17.5,20.98c-10.64,-4.85 -17.5,-12.44 -17.5,-20.98c0,-0.11 0,-0.21 0.01,-0.32l-40.71,0c14.96,-1.6 28.3,-9.31 38.01,-19.68c5.6,-5.98 9.99,-13.11 12.77,-21c1.25,-3.53 2.18,-7.2 2.74,-11l9.36,0c0.56,3.8 1.49,7.47 2.74,11c2.78,7.89 7.17,15.02 12.77,21c9.71,10.37 23.05,18.08 38.01,19.68l-40.71,0z"/>
        <circle class="card-frame__border-color" cx="444.74" cy="51.56" r="7.78"/>
        <path class="card-frame__border-color card-frame__border-color--faded" d="m895.81,11.54l0,1335l-895.58,0l0,-315l0.27,-1020.23l409.84,0.23c-5.92,8.98 -14.19,16.27 -23.94,21c-7.91,3.84 -16.79,6 -26.17,6c-3.08,0 -7.88,-1.1 -12.19,-2.36c0.45,2.06 0.69,4.2 0.69,6.39c0,3.13 -0.48,6.14 -1.37,8.97l0.2,0c0.04,-0.13 0.07,-0.27 0.11,-0.4l0.29,0c-2.64,8.6 -10.22,15.56 -27.09,22.17c7.15,-8.88 9.58,-16.07 9.45,-21.77l-311.8,0l0,141.44c1.66,14.29 8.26,27.07 18.08,36.58c4.59,4.44 9.89,8.16 15.71,10.98c-5.82,2.82 -11.12,6.54 -15.71,10.98c-9.82,9.51 -16.42,22.29 -18.08,36.58l0,751.78c2.23,12.96 8.55,24.51 17.6,33.28c4.59,4.44 9.89,8.16 15.72,10.98c-5.83,2.82 -11.13,6.54 -15.72,10.98c-9.05,8.77 -15.37,20.33 -17.6,33.28l0,190.14c0,3.31 2.69,6 6,6l376.31,0l15.22,-15.22l9.94,9.94l19.45,-19.45l19.67,19.66l10.14,-10.15l15.22,15.22l381.05,0c3.32,0 6,-2.69 6,-6l0,-178.82c-0.12,-16.94 -7.18,-32.22 -18.48,-43.17c-4.59,-4.44 -9.89,-8.16 -15.72,-10.98c5.83,-2.82 11.13,-6.54 15.72,-10.98c11.3,-10.95 18.36,-26.24 18.48,-43.18l0,-743.02c-1.48,-14.47 -8.08,-27.41 -17.98,-36.99c-4.54,-4.39 -9.78,-8.07 -15.54,-10.86c5.76,-2.79 11,-6.47 15.54,-10.86c9.9,-9.58 16.5,-22.52 17.98,-36.99l0,-141.5l-317.08,0c-0.24,5.76 2.15,13.06 9.44,22.12c-16.87,-6.61 -24.45,-13.57 -27.09,-22.17l0.12,0c-0.89,-2.82 -1.36,-5.81 -1.36,-8.92c0,-2.19 0.24,-4.33 0.69,-6.39c-4.31,1.26 -9.11,2.36 -12.19,2.36c-9.38,0 -18.26,-2.16 -26.17,-6c-9.75,-4.73 -18.02,-12.02 -23.94,-21l415.78,0l0,0.35l0.09,0zz"/>
        <path class="card-frame__border-color" d="m480.95,11.04l-0.1,0c23.9,33.09 54.44,27.7 62.09,24.69c-2.17,16.44 1.83,27.43 27.74,37.58c-17.14,-21.29 -7.17,-32.86 0.15,-37.57c3.85,-2.48 8.39,-3.65 12.96,-3.65c0,0 267.56,-0.43 301.67,-0.43l0.02,145.93c0,47 -23.91,62 -23.91,62l0,1c0,0 23.91,15 23.91,62l0.02,719.53c0,47 -23.9,62 -23.9,62l0,1c0,0 23.9,15 23.9,62l-0.02,187.33l-384.06,0.06l-25.14,-25.23l-29.94,30.3l-29.19,-30.3l-25.08,25.18l-382.61,0.13l-0.02,-187.9c0,-47 23.91,-62 23.91,-62l0,-1c0,0 -23.91,-15 -23.91,-62l0,-719.1c0,-47 23.91,-62 23.91,-62l0,-1c0,0 -23.91,-15 -23.91,-62l0.09,-145.5l299.02,0c4.58,0 9.11,1.17 12.96,3.65c7.33,4.71 17.3,16.28 0.16,37.57c25.91,-10.15 29.91,-21.14 27.74,-37.58c7.64,3.01 38.18,8.4 62.09,-24.69l-0.11,0l-409.9,0.21l-0.28,1335.46l895.62,-0.1l0.02,-1335.51l-415.9,-0.06z"/>
    </svg>
    <div class="card-frame__inner">
        <div class="card-frame__title">@Title</div>
        <div class="card-frame__title">@($"({Subtitle})")</div>
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; init; } = string.Empty;

    [Parameter]
    public string Subtitle { get; init; } = string.Empty;

    [Parameter]
    public Rarity Rarity { get; init; }

    [Parameter]
    public string ClassName { get; init; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; init; }

}