.m-card {
  position: relative;
  box-sizing: content-box;
  width: 280px;
  padding: 4px 1px 1px 1px;
}

.m-card_r--uncommon {
  color: var(--green);
}

  .m-card_r--uncommon ::deep .m-card__border-color {
    fill: var(--green);
  }

.m-card_r--rare {
  color: var(--blue);
}

  .m-card_r--rare ::deep .m-card__border-color {
    fill: var(--blue);
  }

.m-card_r--epic {
  color: var(--purple);
}

  .m-card_r--epic ::deep .m-card__border-color {
    fill: var(--purple);
  }

.m-card_r--legendary {
  color: var(--gold);
}

  .m-card_r--legendary ::deep .m-card__border-color {
    fill: var(--gold);
  }

  .m-card ::deep .m-card__border {
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
  }

.m-card__inner {
  padding: 22px 16px 16px;
  background: var(--mapbackground);
}

.m-card__location {
  position: relative;

  margin-top: 6px;
  height: 230px;

  cursor: pointer;

  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--mapbackground);
  background-position: center;
}

.m-card__title {
  height: 46px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1.4em;
}

.m-card__score {
  color: white;
  line-height: 40px;
  font-size: 18px;
  padding: 0 8px;
}

.m-card__buttons {
  display: flex;
  position: relative;

  margin-top: 12px;
}

  .m-card__buttons ::deep button:first-child {
    margin-left: auto;
  }

  .m-card__buttons ::deep button:last-child {
    margin-right: auto;
  }

.stock {
  margin-top: 12px;
  padding: 0px 8px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1em;
  text-align: left;
  color: white;
}

.stock__item {
  margin-top: 4px;
}

.stock__item_r--uncommon {
  color: var(--green);
}

.stock__item_r--rare {
  color: var(--blue);
}

.stock__item_r--epic {
  color: var(--purple);
}

.stock__item_r--legendary {
  color: var(--gold);
}
