<CardFrame Title="@Region" Rarity="Rarity.Normal">
    <div class="empty-card__mokoko" style="background-image: url(/images/EmptyCard.webp)"/>
    <a class="empty-card__submit-location" href="@SubmitPageUrl">Suggest location</a>
</CardFrame>

@code {

  [Parameter, EditorRequired]
  public string MerchantName { get; set; } = default!;

  [Parameter, EditorRequired]
  public string Region { get; set; } = default!;

  [Parameter, EditorRequired]
  public string Server { get; set; } = default!;

  public string SubmitPageUrl
  {
    get
    {
      return $"/UpdateMerchant/{Server}/{MerchantName}";
    }
  }
}