.empty-card__mokoko {
    margin-top: 2px;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--mapbackground);
    background-position: center;
}

.empty-card__submit-location {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    color: var(--white);
    line-height: inherit;
    white-space: nowrap;
}
