.empty-card__mokoko {
    margin-top: 2px;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--mapbackground);
    background-position: center;
}

.empty-card__submit-location {
    position: absolute;
    padding: 10px;
    
    bottom: 24px;
    left: 50%;
    
    transform: translateX(-50%);
    
    text-transform: uppercase;
    color: var(--white);
    
    font-family: Helvetica, sans-serif;
    white-space: nowrap;
}
