
<div class="faq-section">
    <div class="faq-header" @onclick="@(_ => IsOpen = !IsOpen)">
        <h3>@Header</h3>
        @if (IsOpen)
        {
            <span class="oi oi-minus"></span>
        }
        else
        {
            <span class="oi oi-plus"></span>
        }
    </div>
    <div class="faq-content @GetCss()">
        @ChildContent
    </div>
    <hr />
</div>

@code {
    [Parameter] public string Header { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public bool IsOpen { get; set; } = false;

    private string GetCss()
    {
        if (!IsOpen)
            return "disabled";
        else
            return "";
    }
}
