<h3 class="mt-3">Upcoming Merchants</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Next Appearance In</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var merchantGroup in ActiveData.MerchantGroups.OrderBy(m => m.IsActive ? m.FutureAppearance : m.NextAppearance))
        {
            <tr>
                <td>@merchantGroup.MerchantName</td>
                <td>@merchantGroup.MerchantData.Region</td>
                @if (merchantGroup.IsActive)
                {
                    <td>@((merchantGroup.FutureAppearance - DateTimeOffset.UtcNow).ToString(@"hh\:mm\:ss"))</td>
                }
                else
                {
                    <td>@((merchantGroup.NextAppearance - DateTimeOffset.UtcNow).ToString(@"hh\:mm\:ss"))</td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public ActiveDataController ActiveData { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Server { get; init; } = string.Empty;
}
