.item {
    position: relative;
}

.item:hover .item__tooltip {
    display: block;
}

.item__tooltip {
    z-index: 100;
    position: absolute;
    top: -80%;
    transform: translateY(-100%);
    width: 15em;
    padding: .5em;
    border-radius: .5em;
    background: #000;
    color: #fff;
    text-align: center;
    display: none;
    white-space: normal;
}