.merchant {
    position: relative;
    width: 392px;
    height: 448px;
}

.merchant__deck {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.merchant__deck:hover ::deep .merchant__card--secondary {
    transform: rotate(6deg);
}

.merchant__deck:hover ::deep .merchant__card--tetriary {
    transform: rotate(12deg);
}

.merchant__card {
    position: absolute;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    transform-origin: center 400px;
    transition: all 0.6s ease-out;
}

.merchant__deck ::deep .merchant__card--secondary {
    transform: rotate(3deg);
}

.merchant__deck ::deep .merchant__card--tetriary {
    transform: rotate(6deg);
}
