<div class="merchant">
    @if (SecondaryMerchant != null)
    {
        <div class="merchant__deck">
            @if (TetriraryMerchant != null)
            {
                <Card ClassName="merchant__card merchant__card--tetriary" Merchant="@TetriraryMerchant" />
            }
            <Card ClassName="merchant__card merchant__card--secondary" Merchant="@SecondaryMerchant" />
        </div>
    }
    @if (MainMerchant != null)
    {
        <Card ClassName="merchant__card" Merchant="@MainMerchant" />
    }
    else
    {
        <div>TODO</div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public ActiveMerchantGroup MerchantGroup { get; set; } = default!;

    public ActiveMerchant? MainMerchant
    {
        get
        {
            return MerchantGroup.ActiveMerchants.Count() > 0 ? MerchantGroup.ActiveMerchants.OrderByDescending(x => x.Votes).First() : null;
        }
    }

    public ActiveMerchant? SecondaryMerchant
    {
        get
        {
            return MerchantGroup.ActiveMerchants.Count() > 1 ? MerchantGroup.ActiveMerchants.OrderByDescending(x => x.Votes).Skip(1).First() : null;
        }
    }

    public ActiveMerchant? TetriraryMerchant
    {
        get
        {
            return MerchantGroup.ActiveMerchants.Count() > 2 ? MerchantGroup.ActiveMerchants.OrderByDescending(x => x.Votes).Skip(2).First() : null;
        }
    }

}
