<div class="merchant-grid">
  @foreach (var activeGroup in ActiveData.MerchantGroups.Where(m => m.IsActive))
  {
    <Merchant ClassName="merchant-grid__item" MerchantGroup="@activeGroup" Server="@Server" />
  }
</div>


@code {
    [Parameter, EditorRequired]
    public ActiveDataController ActiveData { get; init; } = default!;

    [Parameter, EditorRequired]
    public string Server { get; set; } = default!;
}