@inject ClientSettingsController ClientSettings

@if (_showMessage)
{
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" aria-label="Dismiss" @onclick=CloseMessage></button>
        New stats pages!: <a href="/Leaderboard">Leaderboard</a> and <a href="/WeiStats">Wei Stats</a>
        <br/>
        If you want a name to display on the leaderboard, visit your <a href="/Profile">Profile</a>.
    </div>
}

@code {
    /// <summary>
    /// Increment this to track new message.
    /// </summary>
    private const int MESSAGE_ID = 4;

    private bool _showMessage = false;

    protected override async Task OnInitializedAsync()
    {
        await ClientSettings.Init();
        _showMessage = MESSAGE_ID > ClientSettings.LastDisplayedMessageId;
    }

    private async Task CloseMessage()
    {
        _showMessage = false;
        await ClientSettings.SetLastDisplayedMessageId(MESSAGE_ID);
    }
}
