@inject ClientSettingsController ClientSettings

@if (_showMessage)
{
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" aria-label="Dismiss" @onclick=CloseMessage></button>
        New update now available, merchant spawn times and inventories may not be wholly accurate yet.
    </div>
}

@code {
    /// <summary>
    /// Increment this to track new message. Negative used to hide messages (and keep track of last used value)
    /// </summary>
    private const int MESSAGE_ID = -9;

    private bool _showMessage = false;

    protected override async Task OnInitializedAsync()
    {
        await ClientSettings.Init();
        _showMessage = MESSAGE_ID > 0 && MESSAGE_ID > ClientSettings.LastDisplayedMessageId;
    }

    private async Task CloseMessage()
    {
        _showMessage = false;
        await ClientSettings.SetLastDisplayedMessageId(MESSAGE_ID);
    }
}
