@inject ClientSettingsController ClientSettings

@if (_showMessage)
{
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" aria-label="Dismiss" @onclick=CloseMessage></button>
        Compact mode for merchant grid is available now! Use <a href="/Settings">Settings</a> to turn it on.
    </div>
}

@code {
    /// <summary>
    /// Increment this to track new message.
    /// </summary>
    private const int MESSAGE_ID = 5;

    private bool _showMessage = false;

    protected override async Task OnInitializedAsync()
    {
        await ClientSettings.Init();
        _showMessage = MESSAGE_ID > ClientSettings.LastDisplayedMessageId;
    }

    private async Task CloseMessage()
    {
        _showMessage = false;
        await ClientSettings.SetLastDisplayedMessageId(MESSAGE_ID);
    }
}
