

@if (Enabled)
{
    <span class="oi oi-volume-high px-2 text-success cursor-pointer" @onclick="@(_ => StateChanged.InvokeAsync(false))"></span>
}
else
{
    <span class="oi oi-volume-off px-2 text-danger cursor-pointer" @onclick="@(_ => StateChanged.InvokeAsync(true))"></span>
}

@code {
    [Parameter] public bool Enabled { get; set; }
    [Parameter] public EventCallback<bool> StateChanged { get; set; }
}
