.overlay__wrapper--faded {
    filter: blur(4px);
}

.overlay__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-y: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);
}

.overlay__content ::deep .overlay__card {
    margin-right: 24px;

    flex-shrink: 0;
}