<CascadingValue Name="Overlay" Value="this" IsFixed=true>
    <div class="overlay__wrapper @(IsActive ? "overlay__wrapper--faded" : "")">
        @ChildContent
    </div>
</CascadingValue>
@if (IsActive)
{
    <div class="overlay__content" @onclick="Close">
        @if (MerchantGroup is not null)
        {
            @foreach (var Merchant in MerchantGroup.ActiveMerchants.OrderByDescending(x => x.Votes))
            {
                <Card ClassName="overlay__card" Merchant="@Merchant" Server="@Server" Region="@Region" />
            }
        }
        else if (Zone is not null)
        {
            <img class="overlay__map" src="/images/zones/@(Uri.EscapeDataString(Zone)).jpg" />
        }
    </div>
}
