<div class="zone @_imageClass">
    <span style="@Style">@ZoneName</span>
</div>

@if (!string.IsNullOrWhiteSpace(_imageUrl))
{
    <style>
        .@(_imageClass).zone:hover::after {
            content: url(@_imageUrl);
        }
    </style>
}

@code {
    [Parameter, EditorRequired] public string ZoneName { get; init; } = string.Empty;
    [Parameter] public string Style { get; set; } = "";

    private string? _imageUrl;
    private string _imageClass = string.Empty;

    protected override Task OnParametersSetAsync()
    {
        var zoneEncoded = Uri.EscapeDataString(ZoneName);
        _imageUrl = Path.ChangeExtension(Path.Join("/images/zones/", zoneEncoded), ".jpg");
        _imageClass = "Hover" + new string(ZoneName.Where(char.IsLetter).ToArray());
        return Task.CompletedTask;
    }
}
