@page

@using WanderLost.Server.Pages.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ExternalLoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<p>Redirecting to discord login...</p>