@inherits LayoutComponentBase

<CascadingValue Value="_clicktrap">
    <div class="page" @onclick="ActivateClicktrap">
        <NavMenu />
        <div class="container-fluid" style="padding-top: 5em">
            <audio id="notifsound" src="/media/notification.mp3" />
            @Body
        </div>
    </div>
</CascadingValue>

@code {
    private ClickTrap _clicktrap = new ClickTrap();

    protected void ActivateClicktrap()
    {
        _clicktrap.HasClicked = true;
    }
}