@inherits LayoutComponentBase

<CascadingValue Value="_clicktrap">
    <div class="page" @onclick="ActivateClicktrap">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4 auth">
                <LoginDisplay />
            </div>
            <article class="content px-4">
                <audio id="notifsound" src="/media/notification.mp3" />
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    private ClickTrap _clicktrap = new ClickTrap();

    protected void ActivateClicktrap()
    {
        _clicktrap.HasClicked = true;
    }
}