.m-header {
  display: flex;
  padding: 0 24px;

  flex-wrap: wrap;
  justify-content: space-around;

  background: #141312;
}

::deep .m-header__logo {
  display: flex;

  margin: 8px;

  height: 38px;

  cursor: pointer;
}

.m-header__logo .p {
  fill: #fff;
}

.m-header__items {
  display: flex;

  flex: 1 0 auto;
}

::deep .m-header__item {
  display: flex;

  align-items: center;
  flex-shrink: 0;

  padding: 0 8px;
  margin: 8px;

  font-family: Proxima Nova, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;

  color: #b5b5b5;

  cursor: pointer;

  /** reset button styles */
  border: none;
  background: transparent;
  /** end reset button styles */

  border-bottom: 1px solid transparent;

  transition: 0.2s ease-in-out;
  transition-property: color, border-color;
}

::deep .m-header__item:hover,
::deep .m-header__item.active {
  color: #fff;
  border-color: #bfa251;
}

.m-header__item--separated {
  margin-left: auto;
}
