@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="">Lost Merchants</a>
        <button type="button" title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Merchants</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Notifications" Match="NavLinkMatch.All">Notifications</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/About" Match="NavLinkMatch.All">About</NavLink>
                </li>
            </ul>
            <ul class="navbar-nav ms-md-auto">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">Hello, @context.User.Identity?.Name!</li>
                        <li class="nav-item"><button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button></li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item"><a class="nav-link" href="/Authentication/@RemoteAuthenticationActions.LogIn">Log in with Discord</a></li>
                    </NotAuthorized>
                    <Authorizing>
                        <li class="nav-item">Checking login status...</li>
                    </Authorizing>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo($"Authentication/{RemoteAuthenticationActions.LogOut}");
    }
}